*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: 1px;
background-color: black;
color: #3f2222;
}
body{
	background-color: #af151d;
	color: rgb(8, 8, 8);
}
.glyphicon{
	font-size: 30px;
	color:#810331; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color:gray;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}